<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="vendors/angular.min.js" charset="utf-8"></script>
  <script src="scripts/client.js" charset="utf-8"></script>
  <script src="scripts/services/giphy.service.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Giphy API + Angular</title>
</head>

<body ng-app="myApp">
  <div class="jumbotron">
    <h1>Giphy API + Angular</h1>
  </div>
  <div ng-controller="GiphyController as gc">
    <header>
      <input type="text" ng-model="gc.keyWord" placeholder="key word">
      <button type="button" name="keyWordButton" ng-click="gc.keyWordFunction(gc.keyWord)">SEARCH</button>
      <button type="button" name="randomButton" ng-click="gc.randomFunction()">RANDOM</button>
      </header>
    <div class="container">
      <h4>search results</h4>
      <div>
        <img ng-src="{{ gc.random }}">
      </div>

      <div >
        <!-- ng-repeat="gif in gc.keyword" class="col-sm-3" -->
        <img ng-src="{{ gc.keyWordSearch }}">
        <!-- "{{ gif.keyword }}" -->
      </div>
    </div>

  </div>
</body>

</html>
