.jumbotron {
  color: DarkGrey;
  background-color: White;
  font-family: Helvetica;
}

body {
  background-color: aliceblue;
  text-align: center;
}

button {
  /*color: DarkGrey;*/
  /*background-color: LightSteelBlue;*/
}

h4 {
  font-family: Helvetica;
}

.container-fluid {
  vertical-align: middle;
}

.btn-round-sm {
  border-radius: 24px;
}
