.jumbotron {
  background-color: White;
  font-family: Helvetica;
}

body {
  background-color: aliceblue;
  text-align: center;
}

button {
  color: blue;
  background-color: LightBlue;
}

h4 {
  font-family: Helvetica;
}
